# Load data

In [112]:
# import all necessary packages

import json
from pandas.io.json import json_normalize
import pandas as pd

In [107]:
# load the json file in a dataframe

file_path = 'data/world_bank_projects.json'

with open(file_path,'r') as json_file:
    json_data = json.load(json_file)
    
json_df = json_normalize(json_data)

## 1.Find the 10 countries with most projects

In [121]:
json_df.columns
json_df.countryname.value_counts()[0:10]

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

## 3.In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [127]:
# normalize the mjtheme_namecode column and notice missing names
themes_df = json_normalize(json_data,'mjtheme_namecode')
# themes_df.head()  # this line has been commented to remove unnecessary printouts

In [123]:
# find a unique mapping between code and name
themes_unique_code_and_names = themes_df.drop_duplicates().sort_values('code')
themes_unique_code_and_names = themes_unique_code_and_names[themes_unique_code_and_names.name != ""]
themes_unique_code_and_names

# Demostrate that blank columns have been filled after merging the map with the original dataframe
themes_df_noblanks = pd.merge(themes_df, themes_unique_code_and_names, on='code', how = 'left', suffixes=('_blanks','_noblanks'))

themes_df_noblanks.head()

,code,name_blanks,name_noblanks
0,8,Human development,Human development
1,11,,Environment and natural resources management
2,1,Economic management,Economic management
3,6,Social protection and risk management,Social protection and risk management
4,5,Trade and integration,Trade and integration

## 2. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [126]:
# Use the updated dataframe with no blanks to determine the top 10 project themes
themes_df_noblanks.name_noblanks.value_counts()[0:10]

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name_noblanks, dtype: int64